body {
    background-color: #f8f8f8;
}

.container {
    margin: 0 auto;
    width: 80%;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    background-color: antiquewhite;
    
}

.logo {
    margin-left: 30px;
    margin-top: 10px;
}

header div:nth-child(2) {
    text-align: right;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo img {
    width: 130px;
    outline: none;
}

a {
    font-size: 20px;
    color: brown;
}

a:hover {
    color: darkolivegreen;
}

.menu {
    text-align: right;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    text-align: center;
    border: 1px solid brown;
    background-color: burlywood;
}

.menu li a {
    text-decoration: none;
    color: azure;
    font-size: 170%;
    margin: 0 5px 0 0;
    font-family: monospace;
}

.menu li a:hover {
    color: coral;
}

h3, h4 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.main_desc {
    position: relative;
}


.main_desc img {
    height: 250px;
}

.short_disc {
    color: #707070;
    font-size: 15px;
    font-style: italic;
    line-height: 16px;
    top: 50%;
    float: right;
    position: absolute;
    left: 50%;
}

.long_disc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.long_disc::first-letter {
    font-family: fantasy;
    font-size: 130%;
}

.details li {
    list-style-image: url(img/marker.png);
}

form input {
    width: 20%;
    height: 10px;
    color: brown;
    border: 1px solid brown;
    background-color: cornsilk;
}

#submit {
    height: 20px;
    width: 15%;
    background-color: chocolate;
    color:beige;
}

form input, textarea {
    text-transform: capitalize;
}

.email_form:hover {
    background-color: azure;
    color: crimson;
}


.welcome_section {
    color: brown;
}

.welcome {
    background: none;
    text-align: center;
    color: brown;
}

.theme_site {
    font-size: 200%;
    text-align: center;
    font-weight: bord;
    font-family: monospace;
}

img {
    outline: 3px double blue;
}

img:hover {
    outline: none;
}
.item_goods img {
    outline: none;
}

.character {
    border: 1px solid black;
}

.character tr:first-child {
    line-height: 50px;
}

.character tr, td {
    border: 1px solid black;
    padding: 5px;
}

footer {
    height: 50px;
    background-color: darkred;
    color: azure;
}

footer copyright {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

footer copyright a {
    color: azure;
    font-size: inherit;
    text-decoration: none;
}

footer copyright a:hover {
    color: beige;
}