body {
    background-color: #f8f8f8;
}

.menu li {
    display: inline-block;
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: brown;
    font-size: 130%;
    margin: 0 5px 0 0;
    font-family: sans-serif;
}

h3, h4 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.short_disc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.long_disc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.details li {
    list-style-image: url(img/marker.png);
}

form input {
    width: 20%;
    height: 10px;
    color: brown;
    border: 1px solid brown;
    background-color: cornsilk;
}

#submit {
    height: 20px;
    width: 15%;
    background-color: chocolate;
    color:beige;
}