body {
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    background-color: antiquewhite;
    
}

header div:nth-child(2) {
    text-align: right;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo img {
    width: 130px;
    outline: none;
}

a {
    font-size: 20px;
    color: brown;
}

a:hover {
    color: darkolivegreen;
}

.menu {
    text-align: right;
    padding-right: 50px;
    padding-right: 90px;
    
}

.menu li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    text-align: center;
    border: 1px solid brown;
    background-color: burlywood;
    border-radius: 15px;
}

.menu li a {
    text-decoration: none;
    color: azure;
    font-size: 170%;
    margin: 0 5px 0 0;
    font-family: monospace;
}

h3, h4 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.short_disc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.long_disc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.details li {
    list-style-image: url(img/marker.png);
}

form input {
    width: 20%;
    height: 10px;
    color: brown;
    border: 1px solid brown;
    background-color: cornsilk;
}

#submit {
    height: 20px;
    width: 15%;
    background-color: chocolate;
    color:beige;
}

.email_form:hover {
    background-color: azure;
    color: crimson;
}


.welcome_section {
    color: brown;
}

.welcome {
    background: none;
    text-align: center;
    color: brown;
}

.theme_site {
    font-size: 200%;
    text-align: center;
    font-weight: bord;
    font-family: monospace;
}

img {
    outline: 3px double blue;
}
.item_goods img {
    outline: none;
}